GEMINI_API_KEY=
VITE_GEMINI_API_KEY=
API_KEY=
VITE_API_KEY=
VITE_DD_APPLICATION_ID=9629f53a-26d1-4923-91d4-e993db55ea06
VITE_DD_CLIENT_TOKEN=pubf89ecefe17bd57a1b6ef68f101952e44
VITE_DD_SITE=datadoghq.com
VITE_DD_SERVICE=writing-dice
VITE_DD_ENV=env:dev
